<div class="show">  
  <ul >
    <li><%= image_tag @tweet.image,class: "show-image" %></p>
        <div> タイトル</div>
        <%= @tweet.title%></p>
        <div> ニックネーム</div>
        <%= @tweet.nickname%></p>
        <div> コンセプト</div>
        <%= @tweet.concept%></p>
      </li>
  </ul>
</div>