img{
  height: 200px;
  width: 200px;
}

ul,li{
 list-style: none; 
}

.field{
  font-size: 50px;
}

@media screen and (max-width:768px){
  .field{
    min-width: 100%;
  }
}

#tweet_title{
  height: 30px;
  width: 200px;
}

#tweet_nickname{
  height: 30px;
  width: 200px;
}

#tweet_concept{
  height: 100px;
  width: 400px;
}
#tweet_image{
  height: 30px;
  width: 200px;
}

.card{
  display: flex;
  justify-content: space-around;
}